.idea
.vscode
*.class
*.pyc
/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml
/httpRequests/
tmp/
slurm.sh
carl/runscripts/generated
docs/html
docs/apidoc
CARL.egg-info
carl.egg-info
.mypy_cache
.pytest_cache
.coverage
exp_sweep
multirun
outputs
runs
*.tex
*.png
*.pdf
*.csv
*.json
*.pickle
*.egg-info
*code-workspace
