[submodule "src/envs/rna/learna"]
	path = src/envs/rna/learna
	url = https://github.com/automl/learna.git
[submodule "src/envs/mario/TOAD-GUI"]
	path = src/envs/mario/TOAD-GUI
	url = https://github.com/Mawiszus/TOAD-GUI
[submodule "src/envs/mario/Mario-AI-Framework"]
	path = src/envs/mario/Mario-AI-Framework
	url = https://github.com/frederikschubert/Mario-AI-Framework