[submodule "src/envs/rna/learna"]
	path = src/envs/rna/learna
	url = https://github.com/automl/learna.git
[submodule "experiments/cRL_HPO"]
	path = experiments/cRL_HPO
	url = https://github.com/automl-private/cRL_HPO.git
